body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

button {
    cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* header */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-weight: 700;
}

.header-logo {
    display: block;
    padding: 16px 0;
}

.header-logo .logo-part {
    color: #2e2f42;

}

.burger-btn {
    padding: 0;
    border: none;
    border-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header-logo {
        margin-right: 120px;
        padding: 24px 0;
    }

    .nav-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link.current {
        position: relative;
    }

    .nav-link.current::after {
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }

    .contacts {
        font-style: normal;
        display: block;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts-link {
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        display: block;
        font-size: 12px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover,
    .nav-link:focus,
    .contacts-link:hover,
    .contacts-link:focus,
    .nav-link.current {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .contacts-link {
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-size: 16px;
        padding: 24px 0;
    }
}





/* mobile menu */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 100%;
    fill: #e7e9fc;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.mobile-menu-icon-close {
    fill: #2e2f42;
    align-items: center;
    justify-content: center;
    display: flex;

}

.mobile-menu-nav {
    margin-bottom: 168px;
    min-width: 151px;
    min-height: 200px;
}

.mobile-menu-list {
    width: 151px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.mobile-menu-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
    width: 100%;
    margin-bottom: 40px;
}

.mobile-menu-item-studio {
    color: #404bbf;

}

.mobile-menu-item-contacts {
    margin-bottom: 0;
}

.mobile-contact {
    margin-bottom: 48px;
    font-family: "Roboto", sans-serif;
}

.mobile-contact-list {
    width: 193px;
    height: 72px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
}

.mobile-contact-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-contact-link-tel {
    color: #4d5ae5;
}

.mobile-container-icon {
    width: 280px;
    height: 40px;
}

.mobile-container-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}

.mobile-container-item {
    width: 40px;
    height: 40px;
}

.mobile-container-link {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    fill: #f4f4fd;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* hero */
.main-hero {
    background: #2e2f42;
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero\ 1-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 432px;
    margin: 0 auto;
    margin-bottom: 96px;
}

@media screen and (min-resolution: 2x) {
    .main-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/hero\ 1@2x-min.jpg);
    }

}

.main-cont-hero {
    width: 216px;
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
}

.main-text-hero {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    margin-bottom: 72px;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.main-btn-hero {
    background: #4d5ae5;
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    gap: 10px;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



@media screen and (min-width: 768px) {
    .main-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-tab-foto-1-min.jpg);
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 112px;
        padding-bottom: 112px;
        margin-bottom: 96px;
    }


    .main-cont-hero {
        display: flex;
        justify-self: center;
        align-self: center;
        flex-direction: column;
    }

    .main-text-hero {
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        width: 496px;
        margin-bottom: 36px;
        font-weight: 700;
    }
}




@media screen and (min-width: 1158px) {

    .main-hero {
        background: #2e2f42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-people-office\ 1-min.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        max-width: 1440px;
        margin: 0 auto;
        padding-top: 188px;
        padding-bottom: 188px;
        min-height: 600px;
    }


    .main-text-hero {
        margin-bottom: 48px;
    }



}


/* 2 секція мейна  */

.main-section {
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 96px;
}

.main-container {
    display: none;
}

.main-list-one {
    width: 288px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

@media screen and (max-width: 767px) {

    li.main-list-one {
        margin-bottom: 72px;

    }

    li.main-list-one:last-child {
        margin-bottom: 0;

    }

}

.section-two-h {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-two-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


@media screen and (min-width: 768px) {
    .main-container {
        display: none;
    }

    .main-section {
        padding-bottom: 96px;
    }

    .main-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .main-list-one {
        width: calc((100% - 24px) / 2);
        box-sizing: border-box;

        width: 356px;
        gap: 8px;

    }

    .main-list {
        width: 736px;
    }

}



@media screen and (min-width: 1158px) {

    .main-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .main-list {
        width: 1128px;
        display: flex;
        gap: 24px;
    }

    .main-list-one {
        width: calc((100% - 72px) / 4);
    }

    .main-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f4f4fd;
        flex-direction: column;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
        width: 264px;
        padding: 24px 100px;

    }

    .section-two-h {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
    }

    .section-two-p {
        font-weight: 400;
        letter-spacing: 0.01em;
    }

    .main-list-one {
        width: 264px;
    }

}






/* 3 секція section team мобільна версія */

.section-three {
    background: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 96px;
    padding-top: 96px;
}

.section-three-h {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.section-three-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-three-li {
    border-radius: 0 0 4px 4px;
    background: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

@media screen and ((max-width: 767px)) {

    li.section-three-li {
        margin-bottom: 72px;

    }

    li.section-three-li:last-child {
        margin-bottom: 0;

    }
}

.section-three-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.section-three-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}


.div-class {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 32px 0;

}

.ul-soc {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.li-soc {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
}

.a-soc {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    fill: #f4f4fd;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
}

.a-soc:hover {
    background-color: #404bbf;
}

.a-soc:focus {
    background-color: #404bbf;
}

/* Планшетна версія секції тім */

@media screen and (min-width: 768px) {

    @media (min-width: 768px) and (max-width: 1157px) {

        .section-team-box {
            padding-right: 108px;
            padding-left: 108px;
        }

        .section-three-ul {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 24px;
        }

        .section-three-li {
            width: calc((100% - 24px) / 2);
        }
    }


    .li-soc {
        width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 50%;
    }

    .a-soc {
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        fill: #f4f4fd;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: #4d5ae5;
    }

    .a-soc:hover {
        background-color: #404bbf;
    }

    .a-soc:focus {
        background-color: #404bbf;
    }

    .div-class {
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 32px 16px;
    }
}

/* компютерна версія секції тім */

@media screen and (min-width: 1158px) {

    .section-three {
        background: #f4f4fd;
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .section-three-h {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
    }

    .section-three-ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 24px;
    }

    .section-three-li {
        width: calc((100% - 72px) / 4);
        border-radius: 0 0 4px 4px;
        background: #fff;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }



    .ul-soc {
        display: flex;
        justify-content: center;
        gap: 24px;
    }

    .li-soc {
        width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 50%;
    }

    .a-soc {
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        fill: #f4f4fd;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: #4d5ae5;
    }

    .a-soc:hover {
        background-color: #404bbf;
    }

    .a-soc:focus {
        background-color: #404bbf;
    }

    .div-class {
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;

    }

}


/* 4 секція где много фото для мобілок */

.section-four {
    padding-top: 96px;
    padding-bottom: 96px;
}

.section-four-h {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.section-four-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

@media screen and (max-width: 767px) {
    .sect-parag {
        display: none;
    }
}

.section-list {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.div-list {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-self: start;
}

.section-four-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-four-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* 4 секція где много фото для планшетів */


@media screen and (min-width: 768px) {

    .sect-parag {
        display: none;
    }

    @media (min-width: 768px) and (max-width: 1157px) {

        .section-four-list {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 72px 24px;
        }

        .section-list {
            width: calc((100% - 24px) / 2);
        }

        .li-bez-margin-bottom {
            gap: 0;
        }
    }
}

/* 4 секція где много фото для компа */

@media screen and (min-width: 1158px) {

    .section-four {
        padding-top: 120px;
        padding-bottom: 120px;

    }

    .section-list {
        width: calc((100% - 48px) / 3);
    }
}




/* Секція футер для мобілки  */

.footer {
    background: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
}


.logo-a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0px;
}

.footer-logo-span {
    color: #f4f4fd;
}

.footer-paragarf {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

@media (min-width: 320px) and (max-width: 767px) {
    .footer-forms-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .soz-meregi {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 72px;

    }

    .footer-div-container {
        margin-bottom: 72px;
    }
}

.footer-paragraf-footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-ul {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-spisok {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
}

.a-soc-footer {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    fill: #f4f4fd;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;

}


.a-soc-footer:hover {
    background-color: #31d0aa;
}

.a-soc-footer:focus {
    background-color: #31d0aa;
}

.footer-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-forms-p {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.footer-forms-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.footer-forms-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.footer-forms-input-mob {
    margin-bottom: 16px;
}

.footer-forms-input::placeholder {
    color: #ffffff;
}

.footer-forms-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    border-radius: 4px;
    padding: 8px 24px;
    color: #ffffff;
    width: 165px;
    height: 40px;
    background: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);




}


.footer-forms-button:hover {
    background-color: #404bbf;
}

.footer-forms-button:focus {
    background-color: #404bbf;
}


.icon-svg-forms {
    fill: #fff;
}







/* Секція футер для планшету  */


@media (min-width: 768px) and (max-width: 1157px) {

    .footer {
        padding-left: 108px;
        padding-right: 154px;
    }

    .fooooooter {
        padding-left: 0;
        padding-right: 0;
    }

    .logo-a {
        display: inline-block;
    }

    .footer-logo-span {
        color: #f4f4fd;
    }

    .footer-paragarf {
        line-height: 1.5;
        color: #f4f4fd;
        letter-spacing: 0.02em;
        max-width: 264px
    }

    .soz-meregi-tab {
        display: flex;
        flex-direction: column;
        margin-bottom: 104px;
    }

    .fooooooter {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
    }

    .footer-div-container {
        display: flex;
        flex-direction: column;
        margin-right: 24px;
    }

    .footer-paragraf-footer {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 16px;
    }

    .footer-spisok {
        width: 40px;
        height: 40px;
    }

    .footer-ul {
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    .footer-spisok {
        width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 50%;
    }

    .a-soc-footer {
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        fill: #f4f4fd;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: #4d5ae5;

    }

    .a-soc-footer:hover {
        background-color: #31d0aa;
    }

    .a-soc-footer:focus {
        background-color: #31d0aa;
    }

    .footer-forms-p {
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        align-self: flex-start;
        justify-content: flex-start;
    }

    .footer-forms-label-tab {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .footer-forms-form {
        display: flex;
        gap: 24px;
        flex-direction: row;
    }

    .footer-forms-input-mob {
        margin-bottom: 0px;
    }

    .footer-forms-input {
        width: 264px;
        height: 40px;
        border: 1px solid #ffffff;
        background-color: transparent;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: #ffffff;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .footer-forms-input::placeholder {
        color: #ffffff;
    }

    .footer-forms-button {
        min-width: 165px;
        height: 40px;
        justify-content: center;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4D5AE5;
        border: none;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-forms-button:hover {
        background-color: #404bbf;
    }

    .footer-forms-button:focus {
        background-color: #404bbf;
    }

    .icon-svg-forms {
        fill: #fff;
    }

}


/* Секція футер для комп  */

@media screen and (min-width: 1158px) {

    .footer {
        background: #2e2f42;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-bottom: 16px;
    }

    .logo-a {
        display: inline-block;
    }

    .footer-logo-span {
        color: #f4f4fd;
    }

    .footer-paragarf {
        line-height: 1.5;
        color: #f4f4fd;
        letter-spacing: 0.02em;
        max-width: 264px
    }

    .fooooooter {
        display: flex;
        align-items: baseline;
    }

    .footer-div-container {
        display: flex;
        align-items: baseline;
        flex-direction: column;
        justify-content: flex-end;
        margin-right: 120px
    }

    .footer-paragraf-footer {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 16px;

    }



    .footer-spisok {
        width: 40px;
        height: 40px;
    }


    .footer-ul {
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    .footer-spisok {
        width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 50%;
    }




    .a-soc-footer {
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        fill: #f4f4fd;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: #4d5ae5;

    }


    .a-soc-footer:hover {
        background-color: #31d0aa;
    }

    .a-soc-footer:focus {
        background-color: #31d0aa;
    }




    .footer-forms {
        margin-left: 80px;
    }

    .footer-forms-p {
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        align-self: flex-start;
        justify-content: flex-start;
    }

    .footer-forms-form {
        display: flex;
        gap: 24px;
        flex-direction: row;
    }

    .footer-forms-input-mob {
        margin-bottom: 0px;
    }

    .footer-forms-input {
        width: 264px;
        height: 40px;
        border: 1px solid #ffffff;
        background-color: transparent;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: #ffffff;
    }

    .footer-forms-input::placeholder {
        color: #ffffff;
    }

    .footer-forms-button {
        min-width: 165px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4D5AE5;
        border: none;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-forms-button:hover {
        background-color: #404bbf;
    }

    .footer-forms-button:focus {
        background-color: #404bbf;
    }

    .icon-svg-forms {
        fill: #fff;
        margin-left: 16px
    }

}



/* Модульне вікно 2 для мобілок */


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 8px;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 288px;
    min-height: 623px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    padding-bottom: 24px;
    padding-top: 72px;
    padding-left: 16px;
    padding-right: 16px;

}

.backdrop:not(.is-open).modal-window {
    transform: translate(-50%, -100%);
}



.modal-window-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-button:hover {
    fill: #ffffff;
    background-color: #404bbf;
    border: none;
}

.modal-window-button:focus {
    fill: #ffffff;
    background-color: #404bbf;
    border: none;
}

.icons-windows {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form-container {
    margin-bottom: 8px;
}

.windows-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.input-container {
    position: relative;
}

.input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
    border-color: #4D5AE5;
}

.icons-input {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus+.icons-input {
    fill: #4D5AE5;
}

.windows-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.windows-textarea:focus {
    border-color: #4D5AE5;
}

.windows-five {
    margin-bottom: 24px;
}

.windows-five-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.windows-five-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.form-container-comment {
    margin-bottom: 16px;
}

.input-five:checked+.windows-five-label .windows-five-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}


.windows-five-svg {
    display: flex;
    align-items: center;
    justify-content: center;

}

.windows-five-a {
    color: #4d5ae5;
}

.six-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.six-button:hover {
    background-color: #404bbf;
}

.six-button:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .modal-window {
        width: 408px;
        min-height: 584px;
    }
}